* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
 
}
body{
    background-color: #f5f7f9;
}
h1 {
  color: #dc0a2d;
}

.content {
  padding: 1rem;
  margin: 0 auto;
  max-width: 360px;
}

