* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f5f7f9;
}

h1 {
  color: #dc0a2d;
}

.content {
  padding: 1rem;
  margin: 0 auto;
  max-width: 360px;
}

.pagination {
  display: flex;
  /* background-color: #f3d9e1; */
  /* justify-content: center; */
}

button {
  all: unset;
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-width: 3rem;
  font-weight: 600;
  border-radius: 2rem;
  color: #fff;
  background-color: #dc0a2d;
  border: 1px solid #ccc;
  transition: all 200ms;
  cursor: pointer;
}
.next {
}

.back {
}
button:disabled {
  background-color: #aeaeae;
  cursor: default;
}
button:hover:disabled {
  max-width: 3rem;
  background-color: #aeaeae;
}
button:hover {
  transition: all 400ms;
  background-color: #a53044;
  max-width: 3.1rem;
}


footer{
  display: flex;
  justify-content: center;
  padding: 2rem;
}

footer a{
  padding-right: 0.5rem;
}